# These settings are mainly for the wrapper scripts around aide,
# such as aideinit and /etc/cron.daily/aide

# Main configuration file
CONFIG="/etc/aide/aide.conf"

# Set this to no to disable daily aide runs
#CRON_DAILY_RUN=yes

MAILSUBJ="Daily AIDE report for $FQDN"
MAILTO=root
COMMAND=update
COPYNEWDB=no
TRUNCATEDETAILS=no
FILTERUPDATES=no
FILTERINSTALLATIONS=no
LINES=1000
NOISE=""
AIDEARGS=""
CRONEXITHOOK=""
