??5??????   /usr/bin/tool
?M???????   /usr/lib/x/thing
??5?????? c /etc/tool.conf
missing     /usr/share/doc/a/README
missing     /usr/share/doc/b/changelog.Debian.gz
missing     /usr/lib/y/secret (Permission denied)
